<style type="text/css">
html, body { 
   height: 100%; /* ให้ html และ body สูงเต็มจอภาพไว้ก่อน */
   margin: 0;
   padding: 0;
}
.pageBG {
   background-image: url('รูปร้าน/พื้นหลัง.jpg');
   background-attachment: fixed;
   background-position: top:0; left: 0;
}
.pageDefault {
   background-color: white;
   
   margin-left: 150px;
   margin-right: 150px;

}
.wrapper {
   display: block;
   min-height: 100%; /* real browsers */
   height: auto !important; /* real browsers */
   height: 100%; /* IE6 bug */
   margin-bottom: -20px; /* กำหนด margin-bottom ให้ติดลบเท่ากับความสูงของ footer */
}
.footer {
   height: 200px; /* ความสูงของ footer */
   display: block;
   text-align: center;
}


</style>